 <!DOCTYPE html>
 <html>
  <head>
    <meta charset="UTF-8">
    <!-- Title of this document (NOT VISIBLE TO USERS) -->
    <title>My Webpage</title>
    <!-- The Stylesheet Reference -->
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <!-- Your Content Goes Here... -->
    
    <!-- ( for example...) -->
    
    <!-- Page Header -->
    <header>
      <h1>My Webpage Title</h1>
      <p>My webpage tagline or slogan</p>
    </header>


    <!-- Main Page Content -->
    <main>
      <article>
        <section>
          <h3>Section Title</h3>
          <p>Artlce content</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis</p>
          <button>Button</button>
        </section>
      </article>
    </main>

    <!-- Page Footer -->
    <footer>
      <p>Copyright &copy; 2017. All Rights Reserved.</p>
    </footer>


    <!-- The Javascript Reference -->
    <script src="js/main.js"></script>
  </body>
 </html>

